<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>PAGE TITLE!</title>
{{#if production}}
  <link rel="stylesheet" href="{{assets}}/common.min.css" />
{{/if}}
{{#if dev}}
  <link rel="stylesheet" href="{{assets}}/common.css" />
{{/if}}
</head>
<body>
{{> body}}
</body>
</html>
